/* =============================================================================
   InvoicePlane
   Custom Stylesheet

   All changes made in this file will override the default styles.
   ========================================================================== */

/* Hide the progress bar when finished */
#actions #previews_photo .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#actions #previews_photo .file-row .delete {
    display: none;
}

#actions #previews_photo img {
    width: 80px;
    height: 80px;
}

/* Hide the start and cancel buttons and show the delete button */
#actions #previews_photo .file-row.dz-success .start,
#actions #previews_photo .file-row.dz-success .cancel {
    display: none;
}

#actions #previews_photo .file-row.dz-success .delete {
    display: block;
}

#extended_block {
    display:none;
    background:#e1f5fe;
}